html {
    font-size: 62.5%;}

* {
    font-family: 'Roboto Mono', monospace;
    border: 1px solid black;}

#title {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    font-size: 6rem;}

#subtitle1 {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;}

#subtitle2 {
    text-align: center;
    font-size: 1.5rem;
    padding-left: 30rem;
    padding-right: 30rem;
    word-wrap: normal;}

#button1 {
    background-color: #FF764E;
    color:#ffffff;
    width: 17rem;
    font-size: 2rem;
    border: 0rem;
    border-radius: 2rem;}

#button2 {
    background-color: #5ED3EB;
    color:#ffffff;
    width: 17rem;
    font-size: 2rem;
    border: 0rem;
    border-radius: 2rem;}

#button3 {
    background-color: #FFCD69;
    color:#ffffff;
    width: 17rem;
    font-size: 2rem;
    border: 0rem;
    border-radius: 2rem;}

#headerimg {
    position: relative;
    right: 40rem;
    top: 30rem;
    height: 25rem;
    width: 25rem;
    border-radius: 150%;}

#text {
    color: white;
    background-color: #DDB9A3;
    border: 0rem;
    text-align: center;}

#campfire {
    height: 15rem;
    width: 15rem;}

#van {
    height: 15rem;
    width: 15rem;}

#button4 {
    background-color: #FF764E;
    color: white;
    border: 0rem;}

#button5 {
    background-color: #5ED3EB;
    color: white;
    border: 0rem;}

#button6 {
    background-color: #FFCD69;
    color: white;
    border: 0rem;}