#button1 {
    background-color: #FF764E;}
#button2 {
    background-color: #5ED3EB;}
#button3 {
    background-color: #FFCD69;}
#button4 {
    background-color: #FF764E;}
#button5 {
    background-color: #5ED3EB;}
#button6 {
    background-color: #FFCD69;}